/* add css module styles here (optional) */

.AlgoButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  background-color: blue;
  border-radius: 6px;
}

.AlgoSendButton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: 4px 2px;
  cursor: pointer;
  background-color: red;
  border-radius: 6px;
}